<div class="container">
<p id="notice"><%= notice %></p>

<h1>Listing Flights</h1>

<table class="table table-inverse">
  <thead>
    <tr>
      <th>Flight Number</th>
      <th>Date</th>
      <th>Origin</th>
      <th>Destination</th>
      <th>Plane</th>
      <th>Seats</th>


    </tr>
  </thead>

  <tbody>
    <% @flights.each do |flight| %>
      <tr>
        <td>BA <%= flight.id  %></td>
        <td><%= flight.date.strftime "%B %-d, %-l.%M%P"  %></td>
        <td><%= flight.origin %></td>
        <td><%= flight.destination %></td>
        <td><%= flight.plane.name %></td>
        <td><%= flight.plane.columns * flight.plane.rows %></td>

        <td><%= link_to 'Show', flight %></td>
        <td><%= link_to 'Edit', edit_flight_path(flight) %></td>
        <td><%= link_to 'Destroy', flight, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>

    <% if @flights.length == 0 %>
    <td colspan="5"> No Flights </td>
     <% end %>
  </tbody>
</table>

<br>

<%= button_to 'New Flight', new_flight_path, :class => 'btn btn-success', :method => 'get' %>
</div>
