<div class="container">
<div class="login_form">
  <%= form_for(:session, url: login_path) do |f| %>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, :class => 'form-control'%>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, :class => 'form-control' %>
  </div>
    <%= f.submit "Log in", :class => 'btn btn-success', :method => 'get' %>
  <% end %>
</div>

<br />
<p>New user? <%= link_to "Sign up now!", new_user_path %></p>

<% flash.each do |key, value| %>
  <div class="alert"><%= value %></div>
<% end %>
</div>
