<!-- <div class="container"> -->
<%= form_for(@plane) do |f| %>
  <% if @plane.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@plane.errors.count, "error") %> prohibited this plane from being saved:</h2>

      <ul>
      <% @plane.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name,:class => 'form-control' %>
  </fieldset>

  <fieldset class="form-group">
    <%= f.label :columns %>
    <%= f.number_field :columns, :class => 'form-control' %>
  </fieldset>

  <fieldset class="form-group">
    <%= f.label :rows %>
    <%= f.number_field :rows, :class => 'form-control' %>
  </fieldset>

  <fieldset class="form-group">
    <%= f.submit :class => 'btn btn-success'  %>
  </fieldset>
<% end %>
<!-- </div> -->
